.dark-mode-checkbox:checked ~ .theme-container .rightcolumn {
     background-color: #1e1d1f;
     color:#fff;
}
 .dark-mode-checkbox:checked ~ .theme-container .footer {
     color:#d0d0d0;
     background: #4a4a4a;
}
 .dark-mode-checkbox:checked ~ .theme-container .rightcolumn .card .read-more-trigger {
     color: rgb(176, 119, 255);
     border:1px solid rgb(180, 125, 255);
}
 .dark-mode-checkbox:checked ~ .theme-container {
     background-color: #1e1d1f;
     color:#fff;
}
 .dark-mode-checkbox:checked ~ .theme-container .leftcolumn .card{
     background-color: #333235;
}
 .dark-mode-checkbox:checked ~ .theme-container .rightcolumn .card{
     background-color:#333235;
}
 .dark-mode-checkbox:checked ~ .theme-container .header{
     background-color: #333235;
}
 .dark-mode-checkbox:checked ~ .theme-container .header h1 {
     color: #e6e6e6;
     text-shadow: 1px 1px #d2d2d2, 2px -1px #000000;
}
 .dark-mode-checkbox:checked ~ .theme-container .header p {
     color:#f3f3f3;
}
 .dark-mode-checkbox:checked ~ .theme-container a.link:link,
 .dark-mode-checkbox:checked ~ .theme-container a.link:visited {
     color: rgb(163, 76, 236);
}
 .dark-mode-checkbox:checked ~ .theme-container a.link:hover,
 .dark-mode-checkbox:checked ~ .theme-container a.link:active {
     color: rgb(169, 127, 232);
}
 .dark-mode-checkbox:checked ~ .theme-container .read-more-trigger {
     color: rgb(176, 119, 255);
     border:1px solid rgb(180, 125, 255);
}
 .dark-mode-checkbox:checked ~ .theme-container input[type=file] + label ,
 .dark-mode-checkbox:checked ~ .theme-container select{
     color: rgb(162, 162, 162);
     background-color: rgb(39, 38, 41);
     border: 1px solid #888787;
}
 .dark-mode-checkbox:checked ~ .theme-container input[type=submit] {
     color: rgb(255,255,255);
     color: rgba(255,255,255,0.8);
     background-color: rgb(125, 45, 235);
     background-color: rgba(125, 45, 235, 0.8);
}
 .dark-mode-checkbox:checked ~ .theme-container input[type=reset] {
     color: rgb(255,255,255);
     color: rgba(255,255,255,0.8);
     background-color: rgb(145, 65, 255);
     background-color: rgba(145, 65, 255, 0.8);
}
 .dark-mode-checkbox:checked ~ .theme-container input[type=submit]:disabled{
     background-color: rgb(80, 30, 155);
     background-color: rgba(80, 30, 155, 0.8);
}
 .dark-mode-checkbox:checked ~ .theme-container textarea{
     color: rgb(172, 172, 172);
     background-color: rgb(39, 38, 41);
     border: 1px solid #888787;
}
 .dark-mode-checkbox:checked ~ .theme-container input[type="file"]:focus + label,
 .dark-mode-checkbox:checked ~ .theme-container input[type="file"]:hover + label,
 .dark-mode-checkbox:checked ~ .theme-container textarea:focus,
 .dark-mode-checkbox:checked ~ .theme-container textarea:hover,
 .dark-mode-checkbox:checked ~ .theme-container input[type=reset]:focus,
 .dark-mode-checkbox:checked ~ .theme-container input[type=submit]:focus,
 .dark-mode-checkbox:checked ~ .theme-container input[type=reset]:hover,
 .dark-mode-checkbox:checked ~ .theme-container input[type=submit]:hover {
     outline: 0;
     border-color: #6524bf;
     -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(110, 40, 205, 0.6);
     -moz-box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(110, 40, 205, 0.6);
     box-shadow: inset 0 1px 1px rgba(0,0,0,.075), 0 0 8px rgba(110, 40, 205, 0.6);
}
 .dark-mode-checkbox:checked ~ .theme-container div.container {
     background-color: rgb(51, 50, 53);
}
 .dark-mode-checkbox:checked ~ .theme-container  .loader {
     border: 10px solid #333;
     border-top: 10px solid rgb(115, 35, 225);
 }